@page "/"

<div class="row-layout child-1-container">
    <IgbAccordion SingleExpand="false" class="accordion" child-1-scope>
        <IgbExpansionPanel>
            <p class="typography__body-1 text">
                Body 1
            </p>
            <span slot="title">TEsty tesgegrt</span>
        </IgbExpansionPanel>
        <IgbExpansionPanel>
            <p class="typography__body-1 text">
                Body 1
            </p>
            <span slot="title">Title goes here...</span>
        </IgbExpansionPanel>
        <IgbExpansionPanel>
            <p class="typography__body-1 text">
                Body 1
            </p>
            <span slot="title">Title goes here...</span>
        </IgbExpansionPanel>
    </IgbAccordion>
</div>

@code {
}
