@page "/"
@using Financial
@inject IFinancialService financialService

<div class="row-layout i-phone-11-pro-container">
    <div class="column-layout i-phone-11-pro">
        <IgbCategoryChart DataSource="financialBoxOfficeRevenue" ChartType="CategoryChartType.Column" ChartTitle="New York Central Park Average Maximum Temperature" YAxisTitle="Temperature in °C" ComputedPlotAreaMarginMode="ComputedPlotAreaMarginMode.Series" class="category-chart" iphone-11pro-scope></IgbCategoryChart>
        <IgbSlider Value="0" Min="0" Max="100" Step="10" DiscreteTrack="true" class="slider" iphone-11pro-scope></IgbSlider>
    </div>
</div>

@code {
    private List<BoxOfficeRevenueType> financialBoxOfficeRevenue = new();

    protected override async Task OnInitializedAsync()
    {
        financialBoxOfficeRevenue = await financialService.GetBoxOfficeRevenue();
    }
}
