.column-layout {
    display: flex;
    flex-direction: column;
}
.i-phone-11-pro-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
}
.group {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 16px;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.row-layout {
    display: flex;
}
.group_1 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.user-input {
    height: max-content;
    min-width: min-content;
}
