@page "/<%=route-70d884ac-b142-4b56-9592-524eb6e750d0%>"
@inject NavigationManager NavigationManager

<div class="column-layout i-phone-11-pro-container">
    <div class="column-layout group">
        <IgbInput Label="Label/Placeholder" Outlined="true" @onclick="@(e => Navigate(""))" class="user-input" iphone-11pro-scope></IgbInput>
    </div>
    <div class="row-layout group_1">
        <div class="column-layout group">
            <span class="user-input">Combo not yet available in Blazor</span>
        </div>
        <div class="column-layout group">
            <span class="user-input">Combo not yet available in Blazor</span>
        </div>
    </div>
</div>

@code {
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
