@page "/testchild-2"

<div class="row-layout testchild-2-container">
    <div class="column-layout group"></div>
    <div class="column-layout group_1">
        <div class="column-layout group_2">
            <span class="button-group">ButtonGroup not yet available in Blazor</span>
        </div>
        <div class="column-layout group_2"></div>
    </div>
</div>

@code {
}
